.site-header * {
    /* border: 1px solid black; */
    display: inline-block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
a[class^='cre-']::before {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');
body {
    background-color: #fffeff;
}

.site-header {
    /* font-weight: bold; */
    font-family: 'Helevitica Bold Rounded', sans-serif;

}

ul.social-icons li {
    margin-left: 20px;
}

ul.social-icons li i {
    font-size: 22px;
}

.site-main {
    margin-top: -1.19%;
}

.spacers {
    height: 100%;
}


/* Make the submenu work */

.sub-menu-container ul {
    background: #141c2a;
    color: #e7e7e7;
    display: flex;
}

.sub-menu-container {
    opacity: 0;
    height: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 0px;
    align-items: center;
    width: 100vw;
    display: flex;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    padding-top: 2%;
    transition: opacity .1s ease;
    -webkit-transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
    -ms-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
}

.current-menu-ancestor .sub-menu-container {
    height: 160px;
    opacity: 1;
    z-index: 99;
}

.nav-item:hover .sub-menu-container {
    opacity: 1;
    height: 160px;
    z-index: 100;
}