$icomoon-font-family: "crefila" !default;
$icomoon-font-path: "fonts" !default;

$cre-cart: "\e900";
$cre-bluetooth: "\e901";
$cre-search: "\e902";
$cre-pause: "\e903";
$cre-play: "\e904";
$cre-play-outline: "\e905";
$cre-replay: "\e906";
$cre-replay_10: "\e907";
$cre-replay_30: "\e908";
$cre-stop: "\e909";
$cre-library: "\e90a";
$cre-snapchat: "\e90d";
$cre-home: "\f015";
$cre-tiktok: "\e90e";
$cre-headphones: "\e90b";
$cre-ellipsis-h: "\e90c";
$cre-ellipsis-v: "\e90f";
$cre-facebook: "\ea90";
$cre-instagram: "\ea92";
$cre-twitter: "\ea96";
$cre-youtube: "\ea9d";

